{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
{% endblock %}

{% block body %}
  <form method="POST"
        action="{{ url_for('student.receive_response', test_pk=test.pk, problem_pk=problem.pk) }}"
        style="display:none">
    <textarea name="response"></textarea>
  </form>
  <div class="problem">
    {{ problem.question }}
  </div>
  <!-- toolbar -->
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default btn-lg active">
      <input type="radio" name="brush" value="pen" checked="checked">pen
    </label>
    <label class="btn btn-default btn-lg">
      <input type="radio" name="brush" value="eraser_small">Eraser (small)
    </label>
    <label class="btn btn-default btn-lg">
      <input type="radio" name="brush" value="eraser_med">Eraser (medium)
    </label>
    <label class="btn btn-default btn-lg">
      <input type="radio" name="brush" value="eraser_larg">Eraser (large)
    </label>
  </div>
  <canvas></canvas>
  <button class="btn btn-default btn-lg clear">
    <span class="glyphicon glyphicon-remove-circle"></span>
    clear</button>
  <button class="btn btn-default btn-lg save">
    <span class="glyphicon glyphicon-ok"></span>
    save</button>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
