{% extends 'base.html' %}

{% block body %}
  <ul>
    {% for answer in answers %}
      {% if answer.answer_type == 2 %}
      <li><img src="{{ answer.answer }}">
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}