{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='js/test.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/JSON2.js') }}"></script>
{% endblock %}

{% block body %}
  <form action="{{ url_for('student.response_test', test_pk=test.pk) }}" method=POST>
  </form>

  <ul id="problems">
    {% for problem in problems %}
    <li data-problem="{{ problem.pk}}">
      <div class="problem">{{ problem.question }}</div>
      <textarea class="dataurl"></textarea>
      <button class="btn btn-danger btn-lg edit">
        <span class="glyphicon glyphicon-pencil"></span>
        solve</button>
    {% endfor %}
  </ul>
  <button class="btn btn-success btn-lg upload">
    <span class="glyphicon glyphicon-upload"></span>
    upload</button>

  <div class="alert alert-danger sending-alert" style="display:none">
    <strong>답안을 보내는 중입니다</strong>
    전송이 끝날 때까지 창을 닫지 마세요.
  </div>
  <div class="alert alert-success finish-alert" style="display:none">
    <strong>답안을 보냈습니다</strong>
    창을 닫으셔도 좋습니다.
  </div>

  <div class="ui-skeleton">
    <!-- toolbar -->
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default btn-lg active">
        <input type="radio" name="brush" value="pen" checked="checked">pen
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="brush" value="eraser_small">Eraser (small)
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="brush" value="eraser_med">Eraser (medium)
      </label>
      <label class="btn btn-default btn-lg">
        <input type="radio" name="brush" value="eraser_larg">Eraser (large)
      </label>
    </div>
    <canvas></canvas>
    <button class="btn btn-default btn-lg clear">
      <span class="glyphicon glyphicon-remove-circle"></span>
      clear</button>
    <button class="btn btn-default btn-lg save">
      <span class="glyphicon glyphicon-ok"></span>
      save</button>
  </div>

  <button class="btn btn-default btn-lg edit" style="display:none">
      <span class="glyphicon glyphicon-pencil"></span>
      edit</button>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
