{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for('member.login') }}" class="col-md-4" method="POST">
  <input type="text" name="username" class="form-control input-lg" placeholder="Username">
  <input type="password" name="password" class="form-control input-lg" placeholder="Password">
  <div>&nbsp;</div>
  {% if error %}
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ error }}
  </div>
  {% endif %}
  <button class="btn btn-success btn-lg btn-block" type="submit">
    <span class="glyphicon glyphicon-ok"></span> login
  </button>
  <div>&nbsp;</div>
  <div>
    <a href="{{ url_for('member.view_signup') }}">sign up</a>
  </div>
</form>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
