{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for('member.signup') }}" class="col-md-4" method="POST">
  <input type="text" name="username" class="form-control input-lg" placeholder="Username">
  <input type="password" name="password" class="form-control input-lg" placeholder="Password">

  <h3>gender</h3>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default btn-lg">
      <input type="radio" name="gender" value="1">Female
    </label>
    <label class="btn btn-default btn-lg">
      <input type="radio" name="gender" value="2">Male
    </label>
  </div>

  <h3>birth year</h3>
  <select name="birth_year" class="form-control input-lg">
    {% for y in range(1980, 2010) %}
    <option value="{{ y }}" {% if y == 1990 %}selected{% endif %}>{{ y }}</option>
    {% endfor %}
  </select>

  <div>&nbsp;</div>
  {% if error %}
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ error }}
  </div>
  {% endif %}
  <button class="btn btn-primary btn-lg btn-block" type="submit">
    <span class="glyphicon glyphicon-user"></span> signup
  </button>
</form>
{{ error }}
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
