{% extends 'base.html' %}

{% block body %}
<ul>
  {% for problem in problems %}
  <li>{{ problem.question }}</li>
  {% endfor %}
</ul>

<form action="{{ url_for('admin.edit_test', test_pk=test.pk) }}" method="POST">
    <input type="text" name="question">
    <button>add</button>
</form>
{% endblock %}

<a href="{{ url_for('admin.home') }}">home</a>

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
