{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for('admin.upload_data') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button>upload</button>
</form>

<ul>
  <li><a href="{{ url_for('admin.view_grades') }}">view grades</a></li>
  <li><a href="{{ url_for('admin.get_policy') }}">policies</a></li>
</ul>


<ul>
  {% for test in tests %}
  <li>
    {{ test.title }}
    <a href="{{ url_for('admin.edit_test', test_pk=test.pk) }}">edit</a>
  </li>
  {% endfor %}
  <a href="{{ url_for('admin.new_test') }}">new test</a>
</ul>

<ul>
  {% for problem in problems %}
  <li>
    {{ problem.question }}
    <a href="{{ url_for('admin.new_subset', problem_pk=problem.pk) }}">
      new subset
    </a>
  </li>
  {% endfor %}
</ul>


<ul>
  {% for subset in subsets %}
  <li>
    <a href="{{ url_for('admin.edit_subset', subset_pk=subset.pk) }}">
    edit subset
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
