{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for('admin.new_test') }}" method="POST">
    title: <input type="text" name="title">
    <button>create</button>
</form>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
