{% extends 'base.html' %}

{% block body %}
  <form action="{{ url_for('admin.set_policy') }}" method="POST">
    <dl>
      <dt>the number of references</dt>
      <dd><input type="text" name="num_ref" value="{% if policy.num_ref %}{{ policy.num_ref }}{% endif %}"</dd>
    </dl>
    <dl>
      <dt>more references</dt>
      <dd>
        <label>
          <input type="radio" name="more_ref" value="1" {% if policy.more_ref %}checked{% endif %}>Yes
        </label>
        <label>
          <input type="radio" name="more_ref" value="0" {% if not policy.more_ref %}checked{% endif %}>No
        </label>
      </dd>
    </dl>
    <dl>
      <dt>min. point</dt>
      <dd><input type="text" name="min_point" value="{{ policy.min_point }}"></dd>
    </dl>
    <dl>
      <dt>max. point</dt>
      <dd><input type="text" name="max_point" value="{{ policy.max_point }}"></dd>
    </dl>
    <dl>
      <dt>grading order</dt>
      <dd>
        <label>
          <input type="radio" name="grading_order" value="0" {% if policy.grading_order == 0 %}checked{% endif %}>
          The first comes first
        </label>
        <label>
          <input type="radio" name="grading_order" value="1" {% if policy.grading_order == 1 %}checked{% endif %}>
          The last comes first
        </label>
        <label>
          <input type="radio" name="grading_order" value="2" {% if policy.grading_order == 2 %}checked{% endif %}>
          Random
        </label>
      </dd>
    </dl>
    <dl>
      <dt>reference order</dt>
      <dd>
        <label>
          <input type="radio" name="ref_order" value="0" {% if policy.ref_order == 0 %}checked{% endif %}>
          The first comes first
        </label>
        <label>
          <input type="radio" name="ref_order" value="1" {% if policy.ref_order == 1 %}checked{% endif %}>
          The last comes first
        </label>
        <label>
          <input type="radio" name="ref_order" value="2" {% if policy.ref_order == 2 %}checked{% endif %}>
          Random
        </label>
      </dd>
    </dl>
    <dl>
      <dt>time limit</dt>
      <input type="text" name="time_limit" value="{% if policy.time_limit %}{{ policy.time_limit }}{% endif %}"</dd>
    </dl>
    <button>save</button>
  </form>
{% endblock %}
