{% extends 'base.html' %}

{% block body %}
  <form action="{{ url_for('admin.save_subset') }}" method="POST">
    <input type="hidden" name="pk"
           value="{% if subset.pk %}{{ subset.pk }}{% endif %}">
    <input type="hidden" name="problem" value="{{ problem.pk }}">
    <dl>
      <dt>problem</dt>
      <dd>
         {{ problem.question }}
      </dd>
    </dl>
    <dl>
      <dt>answers</dt>
      <dd>
        <select name='answers' multiple>
          {% for answer, student in answers %}
          <option value="{{ answer.pk }}"
          {% if answer.pk in inclusion  %}selected{% endif %}
          >{{student.name}}</option>
          {% endfor %}
        </select>
      </dd>
    </dl>
    <button>save</button>
  </form>
{% endblock %}