{% extends 'base.html' %}

{% block body %}
  <table>
    <tr>
      <th>#</th>
      <th>grader</th>
      <th>examinee</th>
      <th>problem</th>
      <th>point</th>
      <th>time</th>
    </tr>
    {% for answer, grade, member, problem, student in grades %}
    <tr>
      <td>{{ grade.pk }}</td>
      <td>{{ member.username }}</td>
      <td>{{ student.name }}</td>
      <td>{{ problem.pk }}</td>
      <td>{{ grade.point }}</td>
      <td>{{ grade.time }}</td>
    </tr>
    {% endfor %}
  </table>

  <table>
    <tr>
      <th>grader</th>
      {% for name in student_names %}
      <th>{{ name }}</th>
      {% endfor %}
    </tr>
    {% for grader in grades_dic %}
    <tr>
      <td>{{ grader }}</td>
      {% for name in student_names %}
      <td class="number">{{ grades_dic[grader][name] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <a href="{{ url_for('admin.download_grades') }}">download</a>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
