{% extends 'base.html' %}

{% block body %}
  <ul id="problems">
  {% for subset in subsets %}
    <li>
      <a href="{{ url_for('grader.list_answers', subset_pk=subset.pk) }}">
      {{ subset.problem.question }}
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
