{% extends 'base.html' %}

{% block head %}
  <script src="{{ url_for('static', filename='js/edarg.js') }}"></script>
{% endblock %}

{% block body %}
  <form id="policy">
    <input type="hidden" name="num_ref" value="{{ policy.num_ref }}">
    <input type="hidden" name="ref_order" value="{{ policy.ref_order }}">
    <input type="hidden" name="time_limit" value="{{ policy.time_limit }}">
  </form>

  <form id="aggregated" action="{{ url_for('grader.grade_all') }}" method="POST" style="display: none">
    <input type="hidden" name="subset_pk" value="{{ subset.pk }}">
    <textarea name="data"></textarea>
  </form>

  <div class="problem">{{ problem.question }}</div>
  <form action="{{ url_for('grader.grade') }}" method="POST">
    <input type="hidden" name="subset_pk" value="{{ subset.pk }}">
    <input type="hidden" name="answer_pk" value="">
    <div class="answer"></div>
    <div id="no-point-error" class="alert alert-error" style="width:70%">
      <strong>에러</strong>: 점수를 선택하세요
    </div>
    {% for p in range(policy.min_point,policy.max_point+1) %}
    <label class="radio inline">
      <input type=radio name=point value="{{ p }}">{{ p }}&nbsp;&nbsp;
    </label>
    {% endfor %}
    <button class="btn btn-success submit">채점</button>
  </form>
  <ul id="answers">
    {% macro display(answer) %}
      {% if answer.answer_type == 1 %}
        {{ answer.answer }}
      {% else %}
        <img src="{{ answer.answer }}">
      {% endif %}
    {% endmacro %}
    {% for answer in answers %}
    <li data-pk="{{ answer.pk }}">{{ display(answer) }}</li>
    {% endfor %}
  </ul>

  <form id="get-group" action="{{ url_for('grader.get_group', problem_pk=problem.pk) }}">
  </form>

  <ul id="group">
  {% for grade, answer in grades %}
    <li data-point="{{ grade.point }}">{{ display(answer) }}</li>
  {% endfor %}
  </ul>
  {% if policy.more_ref %}
  <button id="more_ref">more</button>
  {% endif %}
{% endblock %}

{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
