<!DOCTYPE HTML>
<html>
  <head>
    <title>edarg</title>
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/lib/html5shiv.js') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/edarg.css') }}" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('main.home') }}">Edarg</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if 'user_id' in session %}
            <li><a href="{{ url_for('member.logout') }}">logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
  </body>
</html>
{# vim: set filetype=htmljinja ts=2 sw=2 sts=2: #}
