body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

div.problem, div.answer {
  border: 1px solid lightgray;
  border-radius: 1em;
  padding: 0.5em;
  width: 70%;
  font-size: 1.2em;
  line-height: 1.7em;
  margin-bottom: 1em;
}

div.problem {
  font-size: 1.5em;
}

div.answer {
  background-color: ivory;
}

div#no-point-error {
  display: none;
  padding: 0.5em;
  width: 60%;
}

label {
  font-size: 1.5em;
}

ul#problems {
  width: 70%;
  font-size: 1.2em;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul#problems li {
  margin-bottom: 2em;
}

ul#problems li a {
  line-height: 1.7em;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 1px solid lightgray;
  display: block;
  text-decoration: none;
  color: black;
}

ul#problems li a:hover {
  background: #cef;
}

ul#answers {
  display: none;
}

ul#group {
  width: 70%;
  font-size: 1.2em;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul#group li {
  display: none;
  line-height: 1.7em;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid lightgray;
}

button#more_ref {
  display: none;
}

td.number {
  text-align: right;
}

canvas {
  border: 1px solid;
  display: block;
}

div.ui-skeleton {
  display: none;
}

button.edit {
  clear: right;
}

textarea.dataurl {
  display: none;
}
/* vim: set ts=2 sw=2 sts=2: */
